*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  line-height: 1.76;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 14px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #efefef;
}

html, body {
  height: 100%;
}

body, ul, p {
  margin: 0;
}

ul {
  padding: 0;
}

ul, li {
  list-style: none;
}

img {
  border-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}
