*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  line-height: 1.76;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
}

body, ul, p {
  margin: 0;
}

ul {
  padding: 0;
}

ul, li {
  list-style: none;
}

img {
  border-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}
